.panel.panel-default
    .panel-heading
        h3.panel-title Latest Comments
    .panel-body
        ul.media-list
            each comment in sidebar.comments
                li.media
                    a.pull-left(href="/images/#{images.uniqueId}")
                        img.media-object(width="45", height="45", src="/public/upload/#{images.filename}")
                    .media-body #{comment.comment}
                        br
                        strong.media-heading #{comment.name}
                        small.text-muted #{comment.timestamp}
